@import "../../../../styles/variables.module.scss";

.features {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 103px;
    width: fit-content;
    align-self: center;
  }

  .featuresContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 30px;
    row-gap: 79px;
    justify-content: center;
  }
}

