.exchangeRates {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 155px;
  margin-bottom: 170px;

  h2 {
    margin-bottom: calc(57px - 35px);
    letter-spacing: 0.01em;
    width: fit-content;

    background: linear-gradient(270deg, #9E2FFF -27.82%, #FF9E2F 185.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    align-self: center;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
