@import "../../../../styles/variables.module.scss";

.productHero {
  display: flex;
  gap: 34px;
}

.titleContainer {
  max-width: 626px;

  h1 {
    background: linear-gradient(270deg, #DB29F8 0%, #FBDE44 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
  }
}

.actionBlock {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 17px;

  .buttonsContainer {
    display: flex;
    justify-content: space-between;

    button {
      border-radius: 8px;
      width: 135px;
      height: 41px;

      font-family: $mainFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 67.99%;

      &:first-child {
        background: linear-gradient(264.09deg, #9E2FFF -19.41%, #FF9E2F 94.7%);
      }

      &:last-child {
        $border: 2px;
        $borderColor: linear-gradient(264.09deg, #9E2FFF -19.41%, #FF9E2F 94.7%);

        color: #FFFFFF;

        padding: 0.5rem 1rem;
        position: relative;
        background-color: $black;
        background-clip: padding-box;
        border: $border solid transparent;
        border-radius: 8px;

        &::before {
          content: "";
          position: absolute;
          top: -$border;
          right: -$border;
          bottom: -$border;
          left: -$border;
          z-index: -1;
          background-image: $borderColor;
          border-radius: 8px;
        }
      }

      .button__label {
        margin: 0;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

    }
  }
}
