@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #09040f;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-family: "Inter", sans-serif;
  color: #c6c5c7;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 30px;
}

a {
  text-decoration: none;
}

.h1, h1 {
  font-size: 84px;
  margin: 0;
  line-height: 97px;
}

.h2, h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 95.52%;
  /* identical to box height, or 46px */
  letter-spacing: 0.01em;
}

.paragraph, p {
  margin: 0;
  color: #c6c5c7;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.link, a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}

.imagesSwiper {
  max-width: 800px;
  height: 150px;
  position: relative;
  top: 75px;
  .swiper-wrapper {
  }
  .swiper-slide {
    height: 125px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;

    img {
      border-radius: 8px;
      height: 50px;
      width: 50px;
      transition: 0.3s;
    }
    .imagesSwiperName {
      text-align: center;
      position: relative;
      top: 0;
      margin: 0;
      transition: 0.3s;
      opacity: 0;
    }
  }
  .swiper-slide-active {
    width: 100px;
    img {
      transform: translateY(50%) scale(2);
    }
    .imagesSwiperName {
      top: 55px;
      opacity: 1;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #c6c5c7;
  }
}

// swiper – ExchangeRates.tsx

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
