@import "../../../../styles/variables.module.scss";

.students {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  width: 100vw;
  align-self: center;
  padding: 80px 0;
  margin-top: 185px;

  background: rgba(255, 158, 47, 0.1);

  h1 {
    background: linear-gradient(270deg, #9E2FFF 0%, #FF9E2F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;

    @media (max-width: 425px) {
      font-size: 60px;
    }
  }

  p {
    background: linear-gradient(270deg, #9E2FFF 0%, #FF9E2F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;

    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 40vw;
    line-height: 80%;

    text-align: center;
    letter-spacing: 0.01em;
  }
}
